.header {
    align-items: center;
    font-family: Arial;
    gap: 12px;
}

body.page {
    text-align: center;
    font-family: Arial;
    padding: 1%;    
}

blockquote {
    padding: 20px;
}

ul {
    text-align: left;
}

.img {
    max-width: 100%;
    height: auto;
}
