.header {
    align-items: center;
    font-family: Arial;
    gap: 12px;
}

body.page {
    text-align: center;
    font-family: Arial;
    padding: 1%;    
}

blockquote {
    background-color: lightred;
    padding: 20px;
}

ul {
    text-align: left;
}
